{
  "root": true,

  "extends": "airbnb-base/legacy",

  "rules": {
    "global-require": 0,
    "no-var": 0,
    "strict": ["error", "global"]
  },
  "parserOptions": {
    "ecmaVersion": 5,
    "sourceType": "script"
  },
}
