{
  "root": true,

  "ecmaVersion": 5,

  "extends": "airbnb-base",

  "rules": {
    "global-require": 0,
    "no-var": 0,
    "strict": ["error", "global"]
  },
  "parserOptions": {
    "sourceType": "script",
  },
}
